{{ define "main" }}
<div class="post-list">
  {{ if .IsHome }}
    {{ $posts := where site.RegularPages "Type" "posts" }}
    {{ if $posts }}
      {{ range $posts.ByDate.Reverse }}
      <article class="post-item">
        <a class="post-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time class="post-item-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
      </article>
      {{ end }}
    {{ else }}
      <p class="empty-note">尚无内容。</p>
    {{ end }}
  {{ else }}
    {{ range .Pages }}
    <article class="post-item">
      <a class="post-item-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      <time class="post-item-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
    </article>
    {{ end }}
  {{ end }}
</div>
{{ end }}
